{% extends "base.html" %}
{% block header %}
<div id="head_banner">
  <a href="{{ url_for('index')}}"
     style="position: absolute; left: 0; margin-left: 40px; color: rgba(128, 128, 128, 0.52); font-size:80px;">
    <span class="glyphicon glyphicon-menu-left" aria-hidden="true" ></span>
  </a>
  <div class="container">
      <div id="search_box">
        <form action="{{ url_for('index') }}" method="POST" id="search">
          <div class="input-group input-group-md">
            <input type="hidden" name="op" value="search">
            <input type="text" class="form-control" value="{{keyword}}" name="keyword">
            <span class="input-group-btn">
              <button class="btn btn-default" type="submit" id="search_button">Search!</button>
            </span>
          </div>
        </form>
      </div>
    </div>
</div>
{% endblock %}