{% extends "header.html" %}
{% block content %}
<div id="sub_banner">
  <div class="rest_info">
    <div id="criteria">
      <div class="row">
        <div class="col-md-5" style="margin-left:270px;">
          <div><h2 style="margin-bottom: 15px;color:#596578; font-size:60px;">{{rests[0].restname}}</h2>
            <span style="font-size: 14px;color: grey;font-weight: 300; margin-left:2px;">{{rests[0].address}}</span></div>
          <div style="margin-top:15px;">
            {% if (((rests[0].rating*10)|int)/10)|int == rests[0].rating %}
              {% for i in range(0, (rests[0].rating|int)) %}
                <span>
                  <img src="static/pictures/full-star.png" class="rest_star"
                       alt="rating: {{rests[0].rating}}">
                </span>
              {% endfor %}
            {% else %}
              {% for i in range(0, ((rests[0].rating-0.5)|int)) %}
                <span>
                  <img src="static/pictures/full-star.png" class="rest_star"
                       alt="rating: {{rests[0].rating}}">
                </span>
              {% endfor %}
              <span>
                <img src="static/pictures/half-star.png" class="rest_star"
                     alt="rating: {{rests[0].rating}}">
              </span>
              {% endif %}
          </div>
          <p>{{rests[0].description}}</p>
          <p style="font-size: 15px;color:#72BBF4">Want to learn more about <a href="{{rests[0].url}}">Menu</a>?</p>
        </div>
        <div id="map_canvas" style="margin-left:50px;margin-top:20px;width:400px; height:250px" class="col-md-6">
        </div>
      </div>
    </div>
  </div>
</div>

<div id="content">
  <div id="Carousel" class="carousel slide" data-interval="false" style="margin-top:1cm;margin-bottom: 2cm; margin-left:auto;margin-right:auto;width:800px;">
    <ol class="carousel-indicators">
      {% for pic in pics%}
        <li data-target="#Carousel" data-slide-to="{{ loop.index-1 }}"{% if pic.picid==picid %}
            class="active" {% endif %}>
        </li>
      {% endfor %}
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      {% for pic in pics%}
        <div class="item{% if loop.index == 1 %} active{% endif %}" >
          <img src="{{ pic.url }}">
        </div>
      {% endfor %}
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#Carousel" data-slide="prev"
       style="background-image:linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%)">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#Carousel" data-slide="next"
       style="background-image:linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%)">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>
</div>

<style>
 .carousel-inner > .item > img,
 .carousel-inner > .item > a > img {
   width: 70%;
   margin: auto;
   margin-top:1cm;
 }
</style>
<hr style="border-top:1px solid #DEDEDE; width: 80%;">
<div class = "review">
  <div style="margin-left:270px">
    <h1 style="color:#596578; margin-bottom: 30px;">Reviews
    <span style="position:absolute; right:0; margin-right: 220px; opacity:0.6">
      <a href="{{ url_for('review') }}?id={{rests[0].restid}}" class="btn btn-primary">Want to review?</a>
    </span>
    </h1>
    <div class ="row">
    {% for review in reviews %}
      {% if review.content != "" %}
       <div class="col-md-2">
         <p>
          {% if (((review.rating*10)|int)/10)|int == review.rating %}
            {% for i in range(0, (review.rating|int)) %}
              <span>
                <img src="static/pictures/full-star.png" class="rev_star" alt="rating: {{review.rating}}">
              </span>
            {% endfor %}
          {% else %}
            {% for i in range(0, ((review.rating-0.5)|int)) %}
              <span>
                <img src="static/pictures/full-star.png" class="rev_star" alt="rating: {{review.rating}}">
              </span>
            {% endfor %}
            <span>
              <img src="static/pictures/half-star.png" class="rev_star" alt="rating: {{review.rating}}">
            </span>
         {% endif %}
         </p>
       </div>
       <div class="col-md-10">
         <p style="font-size: 18px;">{{ review.content }}</p>
         {% if review.menu != None %}
          <hr style="border-top:1px solid #DEDEDE; width: 34%; margin-left: 0px;">
           {% for m in review.menu %}
             <p style="font-size: 16px;">{{m.course_name}}: {{m.course_content}}</p>
           {% endfor %}
         {% endif %}
         {% if review.country != "" %}
         <p style="font-size: 13px; color: grey">The reviewer is from: {{ review.country |capitalize}}</p>
         {% endif %}
       </div>
    
    <hr style="border-top:1px solid rgba(51, 122, 183, 0.57); width: 68%; margin-left: 250px">
    {% endif %}
    {% endfor %}
    </div>
  </div>
</div>

<script type="text/javascript">
  var geocoder;
  var map;
  var address ="{{rests[0].address}}";
    geocoder = new google.maps.Geocoder();
    var latlng = new google.maps.LatLng(-34.397, 150.644);
    var myOptions = {
      zoom: 16,
      center: latlng,
    mapTypeControl: true,
    mapTypeControlOptions: {style: google.maps.MapTypeControlStyle.DROPDOWN_MENU},
    navigationControl: true,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
    if (geocoder) {
      geocoder.geocode( { 'address': address}, function(results, status) {
        if (status == google.maps.GeocoderStatus.OK) {
          if (status != google.maps.GeocoderStatus.ZERO_RESULTS) {
          map.setCenter(results[0].geometry.location);

            var infowindow = new google.maps.InfoWindow(
                { content: '<b>'+address+'</b>',
                  size: new google.maps.Size(150,50)
                });

            var marker = new google.maps.Marker({
                position: results[0].geometry.location,
                map: map,
                title:address
            });
            google.maps.event.addListener(marker, 'click', function() {
                infowindow.open(map,marker);
            });

          } else {
            alert("No results found");
          }
        } else {
          alert("Geocode was not successful for the following reason: " + status);
        }
      });
    }
</script>
{% endblock %}





