html {
    position: relative;
    min-height: 100%;
}

body {
    background-image: url("../pictures/background.png");
    background-repeat: repeat;
    padding-bottom: 40px;
}
.container{
    padding-top:28px;
    position: relative;
}
#banner {
    background: url("../pictures/banner1.png") no-repeat fixed;
    background-size: 100%;
    height: 500px;
    position: relative;
}

#header {
    font-family: "Helvetica";
    text-align: center;
    color: white;
    opacity: 0.8;
    font-size: 80px;
    margin-bottom:25px;
}

#head_banner {
    background: url("../pictures/head_banner.png");
    background-repeat: no-repeat;
    height: 90px;
    opacity: 0.85;
    position: relative;
}

.jumbotron > #whitebox {
    background: rgba(255, 255, 255, 0.29);
    height: 50px;
    width: 220px;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
    padding-top: 6px;
}

#head_banner > .container > #search_box {
    position: absolute;
    top: 0;
    margin-top: 28px;
    opacity: 0.95;
}

.jumbotron > #search_box {
    height: 100px;
    width: 100%;
    background: rgba(0,0,0,0.4);
    position: absolute;
    bottom: 0;
    padding-top: 33px;
}

.jumbotron > #search_box > .container > #search {
    width: 100%;
    position: absolute;
    top: 0;
    opacity: 0.85;
}

#search_button {
    width: 150px;
}
#whitebox > #learn {
    color: white;
    opacity: 0.7;
    font-size: 25px;
}

#AnnArbor{
    padding-right: 15px;
    max-width:100%;
    max-height: 100%;
}

#Cancun{
    max-width: 100%;
    max-height: 100%
}

#SantaMonica{
    margin-top: 43px;
    max-width: 100%;
    max-height: 100%;
}

#sub_banner {
    background: rgba(2,29,73,0.09);
    height: 300px;
}


#sort_by {
    position: absolute;
    font-size: 20px;
    color: rgba(96,98,102, 0.9);
    margin-top: 30px;
}

#average_price {
    position: absolute;
    font-size: 20px;
    color: rgba(96,98,102, 0.9);
    margin-top: 90px;
}

#origin_place {
    position: absolute;
    font-size: 18px;
    color: rgba(96,98,102, 0.9);
    margin-top: 150px;
}
#rating {
    width: 15%;
    margin-left: 180px;
}

#distance {
    width: 15%;
    margin-left: 30px;
}

.img-circle {
    margin: 0 auto;
    width: 100px;
    height: 100px;
}
#rest_img {
    margin-left: 47.5px;
    max-width: 100%;
    max-height: 100%;
}

#rest_info {
    margin-left: 15px;
    font-size: 18px;
    color: rgba(0,40,86, 1);
}

.star {
    width: 5%;
}

.rest_star {
    width: 4%;
    margin-bottom: 15px;
}

.rev_star{
    width: 8%;
    margin-bottom: 15px;
}

#avgp_form {
    padding-top: 95px;
    padding-left: 225px;
    width: 85%;
}

#avgp_price {
    display: inline;
    width: 500px;
}

#avgp_value {
    margin-left: 30px;
}

.range_label {
    color: grey;
}

#ap .slider-selection{
    background-image: linear-gradient(to bottom, rgb(218, 218, 218) 0%, #BBBBBB 100%);
}

.no_link_dec a:link {
    text-decoration: none;
}

.no_link_dec a:hover {
    text-decoration: none;
}

.no_link_dec a:active {
    text-decoration: none;
}

.no_link_dec a:visited {
    text-decoration: none;
}

#country_input {
    margin-left: 35px;
    margin-top: 35px;
    width: 85%;
}
#update_btn {
    margin-left: 35px;
    margin-top: 30px;
    color: white;
    background-color: rgba(125,155,192,0.4);
}

.Review {
  background: rgba(2,29,73,0.09);
}
